[Unit]
Description=Run audinary daemon
Before=multi-user.target
Before=graphical.target
After=time-sync.target

[Service]
Type=forking
WorkingDirectory=/usr/local/sbin
Restart=on-failure
RestartSec=5
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=yes
RemainAfterExit=no
SuccessExitStatus=5 6
ExecStart=/etc/init.d/audinary start
ExecStop=/etc/init.d/audinary stop

[Install]
WantedBy=multi-user.target
